* {
    color: #010326;
}
#delivery-checkbox {
    width: 2rem;
    height: 2rem;
}

#title {
    font-family: 'Crimson Text', serif;
    color: #A64444;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.card-header {
    background-color:#AEC5F2;
}

.card {
    box-shadow: 2px 2px black;
}

.nav-link {
    color:white;
    background-color: #393E59;
}

.username {
    color: #6FBFBF;
}